@model ifelse.Models.MenuModel

<div class="modal fade" id="editModal_@Model.MenuId">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-controller="Menu"
                  asp-action="Edit"
                  method="post" 
                  enctype="multipart/form-data">

                <input asp-for="MenuId" type="hidden" />

                <div class="modal-header">
                    <h5>Edit Menu</h5>
                </div>

                <div class="modal-body">

                    <div class="mb-2">
                        <label>Ganti Foto</label>
                        <input asp-for="PhotoFile"
                               type="file"
                               class="form-control" />
                    </div>

                    <input asp-for="MenuName"
                           class="form-control mb-2" />

                    <select asp-for="CategoryId"
                            class="form-control mb-2"
                            asp-items="Html.GetEnumSelectList<ifelse.Models.MenuCategory>()">
                    </select>

                    <input asp-for="Price"
                           class="form-control mb-2" />

                    <div class="mb-3">
                        <label>Stock</label>

                        <input asp-for="Stock"
                               class="form-control"
                               min="0" />
                    </div>

                    <div>
                        <input asp-for="Status" />
                        Tersedia
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-warning">
                        Update
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>